body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }

  th, td {
    padding: 15px;
    text-align: center;
    border: none; 
  }
  td{
      border-left: 1px solid #000; 
border-right: 1px solid #000; 
  }

  th {
    background-color: black;
    color: white;
  }

  tr {
    background-color: #d3d3d3;
    border-bottom:1px solid #3498db;
  }

  .subcolumns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
  }
  #logo{
          width: 100px;
          height: 75px;
      }